#div-initial-page h1 {
    animation: appear 1s ease-in-out forwards;
}

#div-initial-page p {
    animation: appear 2s ease-in-out forwards;
}

#div-initial-page button {
    animation: appear 3s ease-in-out forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}